html
	width: 100%;
	font-family: Arial, 'Open Sans', sans-serif;

	body
		margin: 0 auto;
		background: white;

	#container
		margin: 0 auto;

	#header
		top: 0;
		width: 100%;
		z-index: 100;
		max-width: 100%;
		position: fixed;
		background: black;

		h1, h2 
			color: white;
			cursor: pointer;

	#grid 
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

	#header, #grid
		width: 100%;
		margin: 0 auto;
		text-align: center;

	#scroll_button
		top: 0;
		right: 20px;
		z-index: 200;
		font-size: 5em;
		position: fixed;
		cursor: pointer;

		#scroll_text		
			margin: 0;
			font-size: 14px;
			text-align: center;

