doctype html
html(lang="en")
  head
    title #{locals.pkg.name}
    meta(http-equiv="content-type", content="text\html; charset=UTF-8")
    
    //---------------------- Vendor JS Files -----------------------------------------------------------------//
    script(type='text/javascript' src='vendor/jquery/dist/jquery.js')

    //---------------------- APP JS Files --------------------------------------------------------------------//
    script(type='text/javascript' src='app/#{locals.pkg.name}.scripts.js')

    //---------------------- APP CSS Files --------------------------------------------------------------------//
    link(type='text/css' rel='stylesheet' href='styles/#{locals.pkg.name}.styles.css')

  body